.front-page-wrapper {
  display: block;
  padding: 0;
  position: relative;
  overflow: hidden;
  /*@media (width >= 1024px) {
    padding: 0 60px;
  }*/
}

/* Region - Island */
.region-island {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  transition: width 0.6s ease-in-out;
}

.island {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  transition: width 0.6s ease-in-out;
  @media (width >= 768px) {
    width: 66.66%;
  }

  &.zoomed-in-clone {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    .tiles {
      scale: 1.4;
    }
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  transform: rotateX(45deg) rotateZ(45deg) skewX(-5.65deg) skewY(-5.65deg)
    translateY(-30%) translateX(-30%);
  position: relative;
  aspect-ratio: 1 / 1;
  scale: 0.6;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  transition:
    left 0.6s ease-in-out,
    top 0.6s ease-in-out,
    scale 0.6s ease-in-out;
}

.island-base-left {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 60%;
  transform: skewX(45deg) translateX(30%);
  pointer-events: none;
}

.island-base-right {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  top: 0;
  left: 100%;
  width: 60%;
  height: 100%;
  transform: skewY(45deg) translateY(30%);
  pointer-events: none;
}

.island-scenario-title {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 200%;
  transform: rotateZ(-45deg) rotateY(-45deg) scaleY(1.21);
  pointer-events: none;
  aspect-ratio: 684 / 380;

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.6s;
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }
}

/* Region - Sliders */
.region-sliders {
  display: none;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 0;
  width: 33.33%;
  height: 100%;
  padding: 0;
  transform: translateX(0);
  transition:
    width 0.6s ease-in-out,
    transform 0.6s ease-in-out;
  background: rgba(255, 255, 255, 0.6);
  @media (width >= 768px) {
    display: flex;
  }

  .tile-selected & {
    transform: translateX(100%);
  }

  /* Top border */
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    left: 16px;
    width: 100%;
    height: 20px;
    background: var(--color-lightgray);
    transform: skewX(-60deg);
  }
}

.region-sliders-scroll-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 30px;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  @media (width >= 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.region-sliders-inner {
  width: 100%;
}

.region-sliders-content {
  padding: 20px 0;
}

.sliders-title {
  margin-bottom: 25px;
}

.slider-group {
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  margin-bottom: 30px;
}

.slider-group-title {
  font-size: 14px;
  margin-bottom: 10px;
}

.modal-scenario-theme {
  position: absolute;
  top: 54px;
  background: #fff;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease-in-out;
  @media (width >= 1024px) {
    width: 900px;
    padding: 20px 30px;
  }

  .tile-selected & {
    opacity: 1;
    pointer-events: initial;
    transition-delay: 0.6s;
  }

  .modal-close {
    background: none;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 20px;
    right: 16px;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media (width >= 1024px) {
      right: 24px;
    }

    svg {
      display: block;
    }
  }

  .mst-title-wrapper {
    border-bottom: 1px solid #000;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-right: 30px;
  }

  .mst-content-wrapper {
    font-size: 14px;
    @media (width >= 1024px) {
      display: flex;
      gap: 30px;
    }

    p:last-child {
      @media (width >= 1024px) {
        margin-bottom: 0;
      }
    }

    .image-wrapper {
      min-width: 50%;
    }
  }
}
