.slider-wrapper {
  padding-bottom: 13px;

  &:hover {
    .slider-element {
      @media (width >= 1024px) {
        height: 8px;
      }
    }
    .sticky-point {
      @media (width >= 1024px) {
        opacity: 0.5;
      }
    }
    .slider::-webkit-slider-thumb {
      @media (width >= 1024px) {
        opacity: 1;
      }
    }
    .slider::-moz-range-thumb {
      @media (width >= 1024px) {
        opacity: 1;
      }
    }
  }
}

.slider-labels-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.slider-container {
  position: relative;
  height: 8px;
  width: 100%;
}

.slider-element {
  position: absolute;
  top: 50%;
  left: 0;
  height: 8px;
  width: 100%;
  transform: translateY(-50%);
  border-radius: 4px;
  transition: height 0.6s;
  background: #e1e1e1;
  @media (width >= 1024px) {
    height: 4px;
  }

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-blue);
    border-radius: 4px;
    pointer-events: none;
  }
}

.sticky-point {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  background: #000;
  opacity: 0.5;
  border-radius: 2px;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.6s;
  @media (width >= 1024px) {
    opacity: 0;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Chrome, Safari, Opera, and Edge Chromium */
.slider::-webkit-slider-runnable-track {
  background: none;
  height: 8px;
  border-radius: 4px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -13px;
  background-image: url("/slider-handle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  box-shadow: none !important;
  height: 34px;
  width: 44px;
  @media (width >= 1024px) {
    transition: opacity 0.6s;
    opacity: 0;
  }
}

/* Firefox */
.slider::-moz-range-track {
  background: none;
  height: 8px;
  border-radius: 4px;
}

.slider::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-image: url("/slider-handle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  height: 34px;
  width: 44px;
  @media (width >= 1024px) {
    transition: opacity 0.6s;
    opacity: 0;
  }
}
