.page-header {
  position: relative;
  padding: 0;
  z-index: 1;
  height: 0;
  overflow: visible;
  @media (width >= 1024px) {
    padding: 0 60px;
    margin: 0;
    height: 40px;
    position: relative;
  }
}

.button-menu-togggle {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (width >= 1024px) {
    display: none;
  }

  .tile-selected & {
    display: none;
  }

  .mobile-menu-open & {
    svg.icon-menu {
      opacity: 0;
      pointer-events: none;
    }
    svg.icon-close {
      opacity: 1;
      pointer-events: initial;
    }
  }

  svg {
    display: block;
    /* transition: opacity 0.6s; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  svg.icon-menu {
  }

  svg.icon-close {
    opacity: 0;
    pointer-events: none;
  }
}

.main-menu-wrapper {
  @media (width < 1024px) {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 84px 30px 20px;
    opacity: 0;
    pointer-events: none;
    /* transform: translateY(-100%); */
    transition:
      transform 0.6s ease-in-out,
      opacity 0.6s;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }

  .mobile-menu-open & {
    @media (width < 1024px) {
      transform: translateY(0);
      opacity: 1;
      pointer-events: initial;
    }
  }
}

ul.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  @media (width >= 1024px) {
    display: flex;
    gap: 50px;
    height: 40px;
  }

  > li {
    @media (width < 1024px) {
      margin-bottom: 40px;
    }
    @media (width >= 1024px) {
      display: block;
      position: relative;
      background: var(--color-lightgray);
    }

    &:after {
      @media (width >= 1024px) {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: -5px;
        width: 100%;
        height: 7px;
        background: rgba(0, 0, 0, 0.2);
        z-index: 2;
        transform: skewX(-60deg);
        transition:
          height 0.3s ease-in-out,
          left 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
        pointer-events: none;
      }
    }

    &.is-active {
      @media (width >= 1024px) {
        background: var(--color-light-red);
      }

      &:after {
        @media (width >= 1024px) {
          background: var(--color-red);
          height: 20px;
          left: -17px;
        }
      }
    }

    &:hover {
      @media (width >= 1024px) {
        background: var(--color-light-red);
      }

      &:after {
        @media (width >= 1024px) {
          background: var(--color-red);
          height: 20px;
          left: -17px;
        }
      }
    }

    &.menu-item-language {
      display: none;
      @media (width >= 1024px) {
        display: block;
      }
    }
  }

  > li > a {
    @media (width < 1024px) {
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
    }
    @media (width >= 1024px) {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 10px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

ul.lang-switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 30px 0 0;
  cursor: pointer;

  &.open {
    cursor: default;

    li {
      width: 30px;
    }

    .icon-arrow {
      transform: rotate(180deg);
      cursor: pointer;
    }
  }

  &.reverse-order {
    flex-direction: row-reverse;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;

    &.is-active {
      width: 30px;
    }
  }

  span,
  a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .icon-arrow {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 9px;
    height: 13px;
    transition: transform 0.3s ease-in-out;
  }
}

/* Desktop Border Bottom */
.header-border {
  display: none;
  @media (width >= 1024px) {
    display: block;
    height: 20px;
    width: calc(100%);
    background: var(--color-lightblue);
    transform: skewX(-60deg);
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 44px;
  }
}
